<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="MeMo Preferences"
            class="de.tu_berlin.pes.memo.preferences.MeMoPreferences"
            id="de.tu_berlin.pes.memo.preferences.MeMoPreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.tu_berlin.pes.memo.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.tu_berlin.pes.memo.project.category"
            name="MeMo">
      </category>
      <wizard
            category="de.tu_berlin.pes.memo.project.category"
            class="de.tu_berlin.pes.memo.project.MeMoNewProjectWizard"
            finalPerspective="de.tu_berlin.pes.memo.project.perspective"
            icon="icons/memo_small.png"
            id="de.tu_berlin.pes.memo.project.wizard"
            name="MeMo Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.tu_berlin.pes.memo.analysis.boogie.results"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/memo_small.png"
            id="de.tu_berlin.pes.memo.project.navigator"
            name="MeMo Project Navigator">
      </view>
      <category
            id="de.tu_berlin.pes.memo.project.NavCategory"
            name="MeMo">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="de.tu_berlin.pes.memo.project.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="de.tu_berlin.pes.memo.project.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.tu_berlin.pes.memo.project.PerspectiveFactory"
            fixed="false"
            icon="icons/memo_small.png"
            id="de.tu_berlin.pes.memo.project.perspective"
            name="MeMo Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.tu_berlin.pes.memo.project.perspective">
         <view
               closeable="false"
               id="de.tu_berlin.pes.memo.project.navigator"
               minimized="false"
               moveable="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.tu_berlin.pes.memo.parser.activedbview"
               minimized="false"
               relationship="bottom"
               relative="de.tu_berlin.pes.memo.project.navigator"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.tu_berlin.pes.memo.analysis.boogie.views.BoogieResultsView"
               minimized="false"
               moveable="true"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               ratio="0.80"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="de.tu_berlin.pes.memo.project.projectNature"
         name="MeMo Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.tu_berlin.pes.memo.project.ProjectNature">
         </run>
      </runtime>
   </extension>

</plugin>
